h1{
    color: green;
    text-decoration: underline orange;
}

p{
    color:darkred;
}

h2{
    color: darkblue;
}

h3{
    color: darkred;
}

body{
    background-color: #d3ffb5;
}

hr{
    border: 1px solid #33ff00;
}

#menu-title{
    color: darkgreen;
    text-decoration: underline rgb(0, 255, 0);
}
