body{
    background-color: #00ff00;
}

h1{
    color: #0048ac;
}

h3{
    color: #0048ac;
}

hr{
    border: 1px solid #ff0000;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

